/* header styling */
.bg-primary {
    background-color: #2A4665 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-family: "Poppins", Arial, sans-serif;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffd26b;
}

/* level 1 submenu open  */
.navbar .nav-item:hover .dropdown-menu.level1 {
    display: block;
}

@media all and (min-width: 992px) {
    .dropdown-menu li {
        position: relative;
    }

    .dropdown-menu .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }

    .dropdown-menu .submenu-left {
        right: 100%;
        left: auto;
    }

    .dropdown-menu>li:hover {
        background-color: #f1f1f1
    }

    .dropdown-menu>li:hover>.submenu {
        display: block;
    }
}

@media (max-width: 991px) {
    .dropdown-menu .dropdown-menu {
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        margin-bottom: .5rem;
    }
}

#header-icon {
    margin: 25px 0px 0px 60px;
}

.fa {
    color: #C7244E;
}

.header a {
    text-decoration: none;
    color: #777;
}

/* .dropdown-toggle:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    } */

@media only screen and (max-width: 300px) {
    .headerlogo {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .header .headeraddress {
        margin-top: 30px;
    }
}

.nav-item.dropdown {
    padding: 10px;
}

.nav-item.active {
    padding: 10px;
}
.col-lg-12.headeraddress i{
    padding-right: 10px!important;
}

/* header styling end  */

/* banner styling starts */
/* banner styles */
.banner{
    background-repeat: no-repeat;
    background-position: center center;
}
.banner .row{
    padding:180px 150px 180px 150px;
}

.btn.btn-primary {
    background-color: #D60B52;
    border: none;
}
.btn.btn-primary:hover {
    background-color: #131D33;
    border: none;
}
@media (max-width: 991px) {
    .banner .row{
        padding:70px 20px 70px 20px;
    }
}
.banner h1{
    color:white;
    font-weight:800;
}
.banner p{
    color:white;
    font-weight:bold;
}
.banner .btn{
    background-color:#C7244E;
    border:1px solid #C7244E;
}
.banner .btn:hover{
    background-color:#131D33;
    border:1px solid white;
}
/* banner styling ends */